<ion-list>
  <ion-list-header color="primary">
    <ion-icon name="restaurant" class="ion-padding"></ion-icon>
    Dónde comer
  </ion-list-header>
  <a href="https://www.tripadvisor.es/Restaurants-g274887-Budapest_Central_Hungary.html">
    <ion-item color="secondary">
      <ion-thumbnail slot="end">
        <img src="./assets/images/Budapest-Food.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Plato típico: Langos</h3>
        <p>Pulsa para encontrar dónde probarlo</p>
      </ion-label>
    </ion-item>
  </a>
</ion-list>