<ion-list>
  <ion-list-header color="primary">
    <ion-icon name="map" class="ion-padding"></ion-icon>
    Otros puntos de interés
  </ion-list-header>
  <a href="https://www.tripadvisor.es/Attractions-g274887-Activities-Budapest_Central_Hungary.html">
    <ion-item color="secondary">
      <ion-thumbnail slot="end">
        <img src="./assets/images/1-budapest_0.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Conoce el día a día de la ciudad</h3>
        <p>Pulsa para descubrir más</p>
      </ion-label>
    </ion-item>
  </a>
</ion-list>