<ion-list>
  <ion-list-header color="primary">
    <ion-icon name="map" class="ion-padding"></ion-icon>
    Monumentos
  </ion-list-header>
  <a href="https://www.tripadvisor.es/Attractions-g274887-Activities-Budapest_Central_Hungary.html">
    <ion-item color="secondary">
      <ion-thumbnail slot="end">
        <img src="./assets/images/puente-cadenas-grid-m.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Puente de las cadenas</h3>
        <p>Pulsa para encontrar más sitios que visitar</p>
      </ion-label>
    </ion-item>
  </a>
</ion-list>